.start {
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* make grid */
.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 auto;
  gap: 50px;
  justify-content: center;
}

.item {
  height: 360px;
  width: 240px;
  background-color: #acacac;
  border: 2px solid #696969;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 0;
  gap: 5px;
}

.image-contaner {
  height: 240px;
  width: 240px;
  border-radius: 25px;
}

.item-image {  
  border-radius: 25px;  
  height: 100%;
  width: 100%;  
  object-fit: contain;
}