*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  max-height: 80px;
  background-color: #c2c2c2;
  box-shadow: 0 5px 10px 5px #00000050;
  padding: 10px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.message-modulo {
  position: absolute;
  background-color: #c2c2c2;
  border: 3px solid #888888;
  border-radius: 20px;
  padding: 20px 40px;
  top: 50px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 300px;
}

.message-text {
  font-size: 20px;
  text-align: center;
  text-wrap: balance;
  word-break:break-all;
}

.header-nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.inactive {
  display: none;
}

.main {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  flex: 1;
  min-width: 100%;
}

.container {
  margin: 0 40px;
  width: 100%;
  max-width: 1250px;
  display: flex;
  justify-content: center;
}

.footer {
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background-color: #eeeeee;
  box-shadow: 0 -5px 5px 5px #00000010;
}